html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.page {
  background-color: var(--wite-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 787px) {
  .page-header {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .page-header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}

.pege-logo {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .pege-logo {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .pege-logo {
    height: 80px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .pege-logo {
    width: 1200px;
    height: 80px;
  }
}

.pege-logo .logo.current {
  color: #000000;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .pege-logo .logo.current {
    font-size: 26px;
    line-height: 1.19;
  }
}

.pege-logo .logo.current .logoacc {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .pege-logo .logo.current .logoacc {
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-button {
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:focus :hover {
  fill: #2196f3;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px;
}

.icon .icon-cross {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding: 40px;
  font-size: 20px;
  background: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.menu-container {
  background: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: block;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 480px) {
  .menu-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.site-nav {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
    margin-left: 93px;
  }
}

.navigation {
  display: block;
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.link {
  position: relative;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.link:hover, .link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-item + .menu-item {
    margin-left: 50px;
  }
}

.centrauto {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .centrauto {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .centrauto {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .centrauto {
    width: 1200px;
  }
}

.section.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: auto;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .section.list {
    width: 768px;
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .section.list {
    margin: -15px;
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .zzz {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .zzz {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
    padding-bottom: 0;
  }
}

.zzz.list-item::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
}

.zzz.list-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.zzz.list-item:nth-child(2)::before {
  background-image: url(../images/clock-1.svg);
}

.zzz.list-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.zzz.list-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.paragraf {
  display: contents;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-sub {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-sub {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .section-sub {
    text-align: left;
  }
}

.footer-fon {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

@media screen and (min-width: 1200px) {
  .footer-fon {
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) {
  .footer-fon {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-fon {
    height: 252px;
    width: 1600px;
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-fon {
    text-align: center;
  }
}

.fon {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .fon {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .fon {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .fon {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .fon {
    width: 1200px;
  }
}

.fon .logodark {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}

.footer-contacts .logo.current {
  display: inline-block;
  color: #000000;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer-contacts .logo.current {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-contacts .logoacc {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-contacts .logoacc {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-contacts .info-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-contacts .addres {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  margin-top: 20px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.robota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: -15px;
}

.rob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
  margin: 15px;
}

.annexes {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-one.f.sec {
  background-color: #f5f4fa;
}

.section-one.f.margin-botton {
  background: #f5f4fa;
  padding-top: 94px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.page-header .info {
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header .info {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.info {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info:hover {
  color: #2196f3;
}

.info-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-decoration: none;
}

.proba {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: list-item;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .proba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button-info {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.button-info-tel {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.tel {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .tel {
    margin-left: 30px;
  }
}

.tel:hover {
  color: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herogo.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herogo.jpg);
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    width: 1600px;
    padding: 0;
  }
}

.hero .container-hero {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 118px;
  margin-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .container-hero {
    margin-bottom: 200px;
    margin-top: 200px;
  }
}

.hero-title {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.prortfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.liniya {
  text-decoration: none;
  border: none;
}

.section-titles {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 8px;
  margin: 0;
  text-decoration: none;
}

.section.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-button {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .container-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .container-button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-left: 0;
  margin-bottom: 34px;
}

.button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button:not(:last-child):nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.list.portfolio {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 480px) {
  .list.portfolio {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .list.portfolio {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list.portfolio {
    width: 1200px;
    margin: -15px;
  }
}

.text {
  padding: 20px 24px;
}

.job {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 0px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  border: none;
}

.texno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto {
  position: relative;
  overflow: hidden;
}

.foto:hover .texno {
  opacity: 1;
}

.foto:hover .overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.margin-botton .container-wrap {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.item-portfolio {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .item-portfolio {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    width: 768px;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .item-portfolio {
    width: 1200px;
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
    padding-bottom: 0;
  }
}

.item-portfolio:hover {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.comanda-bgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5f4fa;
  max-width: 1600px;
}

@media screen and (min-width: 1200px) {
  .comanda-bgs {
    max-width: 1600px;
  }
}

@media screen and (min-width: 480px) {
  .comanda-bgs {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .comanda-bgs {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .comanda-bgs {
    width: 1600px;
  }
}

.bgc {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .bgc {
    width: 480px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .bgc {
    width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .bgc {
    width: 1200px;
    padding-top: 79px;
  }
}

.section-four {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .section-four {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-four {
    width: 1200px;
  }
}

.four {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .four {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .four {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
    padding-bottom: 0;
  }
}

.section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.section-en {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-title-co {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .section-title-co {
    width: 768px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title-co {
    width: 1200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.button-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
}

.li-button:not(:last-child) {
  margin-right: 10px;
}

.href-button {
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.href-button:hover {
  background-color: #2196f3;
}

.href-button:hover .svg-button {
  fill: #ffffff;
}

.svg-button {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
}

.container-six {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container-six {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-six {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-six {
    width: 1200px;
  }
}

.li-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.six-link {
  width: 210px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .six-link {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .six-link {
    width: calc((100% - 30px * 6) / 6);
  }
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.logo-one {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.logo-two {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.logo-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.logo-four {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.logo-five {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.logo-six {
  width: 88px;
  height: 45px;
  fill: currentColor;
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-icon {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-icon {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-icon {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-icon {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .div-footer-too {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .div-footer-too {
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .div-footer-too {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .div-footer-too {
    margin-left: 94px;
  }
}

.tekst-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 0;
  margin: 0;
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.href-button.white {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-button.white:hover {
  background-color: #2196f3;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: #2196f3;
}

.btn-close:focus {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 1024px;
  background: rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 450px;
  min-height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.div-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .div-check {
    padding-left: 20px;
  }
}

.visually {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.visually:checked + .check-box {
  background-image: url(../images/galochka.svg);
  background-position-y: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-repeat: no-repeat;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 2px;
  background-size: contain;
  background-origin: border-box;
  border: 0.2px;
}

.label-check {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  .label-check {
    font-size: 12px;
  }
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-check {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
  display: inline-block;
  line-height: 0.85;
}

.check-box {
  position: absolute;
  background-image: url(../images/ramka.svg);
  width: 16px;
  height: 15px;
  left: 0;
  bottom: 15px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-e-mail {
  text-align: center;
}

.e-mail-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;
}

@media screen and (min-width: 768px) {
  .e-mail-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .e-mail-input {
    width: 358px;
    margin: 0;
  }
}

.e-mail-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.e-mail-input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.e-mail-input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.e-mail-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.e-mail-label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.div-e-mail-btn {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .div-e-mail-btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btm-too {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.svg-btm-too {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 0;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  font: inherit;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-position-y: center;
  background-position-x: center;
}

@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}

.form-input:focus ~ .from-svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.texterea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .texterea {
    width: 448px;
  }
}

.texterea::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.texterea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.texterea::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.texterea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.texterea:focus {
  border: 1px solid #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.from-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */