
.aaa{
  margin-left: 15px;
}
.visually {
  appearance: none;
  &:checked + .check-box {
    background-image: url(../images/galochka.svg);
    background-position-y: center;
    transform: translateY(50%);
    background-repeat: no-repeat;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $accent-color;
    fill: $wite-color;
    border-radius: 2px;
    background-size: contain;
    background-origin: border-box;
    border: 0.2px;
  }
}

.label-check {
    margin-bottom: 34px;
    letter-spacing: 0.03em;
    font-size: 12px;
    font-style: normal;
    line-height: 1.71;
    color: #757575;
    font-family: Roboto;

      @media screen and (min-width: $desktop) {
   
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 16px;
}
}
.a-check {
  color: $accent-color;
   line-height: 0.85;
}
.check-box {
  position: absolute;
  background-image: url(../images/ramka.svg);
  width: 16px;
  height: 15px;
   bottom: 0;
    left: 0;
    margin-left: 40px;
   margin-bottom: 140px;
    bottom: 15px;
  transform: translateY(50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     @media screen and (min-width: $mobile) {
  margin-bottom: 118px;
}
  }

.check-btm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
   color: #ffffff;
   margin-right: auto;
   margin-left: auto;
   margin-top: 31px;
   text-align: center;
}
