.margin {
  margin-bottom: 20px;
}
.fon {
  background: #2f303a;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 231px;
}
