

.hero {
 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;


 background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herogo.jpg);

        max-width: 100%;
        height: 400px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  
            @media screen and (min-width: 1200px) {
              max-width: 1600px;

 background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herogo.jpg),
    url(../images/herogo.jpg);

                  }

 
            @media screen and (min-width: $mobile) {
            width: 480px;
            height: 400px;

   background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header_img.jpg),
    url(../images/mobile/Header_img@2x.jpg);

              }


            @media screen and (min-width: $tablet) {
                height: 400px;
                width: 768px;
 background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/tabletHeader_img.jpg),
    url(../images/tablet/Header_img@2x.jpg);

    

                }

              @media screen and (min-width: $desktop) {
                  height: 600px;
                  width: 1600px;
                  padding: 0;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desktop/bcg.jpg),
    url(../images/desktop/bcg@2x.jpg);


                  }

 
  & .container-hero {
 
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 118px;
  margin-top: 118px;

       

          @media screen and (min-width: $desktop) {
            margin-bottom: 200px;
            margin-top: 200px;
              }

            }

      &-title {
        color: $wite-color;
       
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      margin-top: 0;

            @media screen and (min-width: $desktop) {
                font-size: 44px;
              line-height: 1.36;
               
            }
  }

}


