
.pege-logo{

  margin-left: auto;  
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;


            @media screen and (min-width: $mobile) {
                  width: 480px;
                background-color: orangered;
              }

            @media screen and (min-width: $tablet) {
              
                width: 768px;
                  background-color:  blue;
            }

            @media screen and (min-width: $desktop) {
              
                width: 1600px;
               background-color:  olive;
            }



.logo.current {

  color: $title-text-color;

      font-family: Raleway, sans-serif;
      letter-spacing: 0.03em;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      
      padding-top: 16px;
      padding-bottom: 16px;
      text-decoration: none;

   
          @media screen and (min-width: $tablet) {
                      
               padding-top: 26px;
               padding-bottom: 26px;
               font-size: 26px;
               line-height: 1.19;
          }
     

  .logoacc {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: bold;

    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;

              @media screen and (min-width: $tablet) {
                height: 80px;
                width: 768px;         
                padding-top: 26px;
                padding-bottom: 26px;

                font-size: 26px;
                line-height: 1.19;
              }
  }
 }
}




