
 
 .page-header{
    position: relative;
    margin-right: auto;
    margin-left: auto;

  height: 60px;


       @media screen and (max-width: 787px) {
              
                  text-align: center;
                        }

      @media screen and (min-width: $mobile) {
                width: 480px;
                        }
      @media screen and (min-width: $tablet) {
                     width: 768px;
                    }

      @media screen and (min-width: $desktop) {
                          width: 1200px;
                     
                        }


}

 
.pege-logo{
 
  margin-left: auto;  
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 16px;
      height: 60px;    
       display: flex;
       justify-content: space-between;
       align-items: center;

            @media screen and (min-width: $mobile) {
                height: 60px;
                width: 480px;
              
              }

            @media screen and (min-width: $tablet) {
                height: 80px;
                width: 768px;
             
                 
            }

            @media screen and (min-width: 1200px) {
                width: 1200px;
               height: 80px;
               
            }

            


    .logo.current {

      color: $title-text-color;
      font-family: Raleway, sans-serif;
      letter-spacing: 0.03em;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      text-decoration: none;

          @media screen and (min-width: $tablet) {
                      
       
               font-size: 26px;
               line-height: 1.19;
                 
          }
     

  .logoacc {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: bold;

    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    padding: 0;

              @media screen and (min-width: $tablet) {
            
                font-size: 26px;
                line-height: 1.19;
              }
  }
 }
}

.menu-button {
 
      outline: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;


   

        &:focus :hover {
       fill: #2196f3;}
      }


      .icon{

        display: flex;
       
        padding: 9px;



    .icon-cross{
      
      display: none;
    }  
 
    }
   

.menu-button {
 
  @media screen and (min-width: $tablet) {
                        display: none;
                    }
    
}

.menu-button.is-open .icon-cross{
  display: block;
}

.menu-button.is-open .icon-menu{
  display: none;
}

.menu-container{
  padding-left: 40px;
  padding-right: 40px;
    font-size: 20px;
  background: #FFFFFF;
   padding-top: 60px;
  padding-bottom: 50px;
 
  }


      .menu-container{

        background: #FFFFFF;
      

        @media screen and (max-width: 767px){
                display: block;
                height: 35px;
                // text-align: center;
                  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
                   0px 1px 3px rgba(0, 0, 0, 0.16);

          }

        @media screen and (min-width: $mobile) {
                width: 480px;
                        }


        @media screen and (min-width: 768px) {   
                display: flex;
               
                padding: 0;
                margin: 0;
        }

          }




  .menu-container{
     @media screen and (max-width: 767px) {
                            display: none;
                            position: absolute;
                              top: 100%;
                              left: 0;
                              width: 100%;
                              height: 453px;
               &.is-open{
              display: block;
               }

                       }

      
         @media screen and (min-width: $tablet) {
                            width: 768px;
                            display: flex;
                            justify-content: space-between;
                            flex-grow: 1;

                       }


  }