.logo.current {
  color: $title-text-color;

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  .logoacc {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
}
.fon .logodark {
  color: $wite-color;
}
