.li-icon {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.six-link {
  margin: 0;
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.logo-link {
  display: flex;
  margin: 0;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


  
&:hover {
  color: $accent-color;
  border: 1px solid $accent-color;
}
}



.logo-one {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.logo-two {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.logo-three {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.logo-four {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.logo-five {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.logo-six {
  width: 88px;
  height: 45px;
  fill: currentColor;
}
