html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page {
  background-color: var(--wite-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.flexbox {
  display: flex;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  display: flex;
}

.site-nav {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-header .flexbox {
  align-items: center;
  justify-content: flex-end;
}
.div {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}